<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - listpy</title>


    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/jquery-ui-1-12-1custom/jquery-ui.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/jquery-ui-1-12-1custom/jquery-ui.structure.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/jquery-ui-1-12-1custom/jquery-ui.theme.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="menu">
        {% block menu %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        &copy; Copyright 2017 by ....
    </div>
</body>
</html>
